# Blacklist specific annoying directories within minecraft, there's probably a smart regex way to do this that isn't multiline, I'll figure it out later.
/rustyconnector/mc*/plugins/.paper-remapped
/rustyconnector/mc*/plugins/bStats
/rustyconnector/mc*/plugins/spark

# Blacklist service folders
/rustyconnector/mariadb
/rustyconnector/mongodb
/rustyconnector/postgres
/rustyconnector/redis